[submodule "e172"]
	path = 3rdparty/e172
	url = https://github.com/burbokop/e172.git
[submodule "e172_sdl_impl"]
	path = 3rdparty/e172_sdl_impl
	url = https://github.com/burbokop/e172_sdl_impl.git
[submodule "e172_vulkan_impl"]
	path = 3rdparty/e172_vulkan_impl
	url = https://github.com/burbokop/e172_vulkan_impl.git
[submodule "e172_console_impl"]
	path = 3rdparty/e172_console_impl
	url = https://github.com/burbokop/e172_console_impl.git
