[submodule "e172"]
	path = e172
	url = https://github.com/burbokop/e172.git
[submodule "sdl_implementation"]
	path = sdl_implementation
	url = https://github.com/burbokop/sdl_implementation.git
[submodule "vulkan_implementation"]
	path = vulkan_implementation
	url = https://github.com/burbokop/vulkan_implementation.git
[submodule "console_impl"]
	path = console_impl
	url = https://github.com/burbokop/console_impl.git
